/* globale */
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
	{
	/* border: 1px solid black; */
	
}

.page-header {
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 0;
}

h1,.h1 {
	font-size: 25px;
}

h1 small,.h1 small {
	font-size: 16px;
	padding-left: 10px;
}

.breadcrumb {
	font-size: 12px;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

a {
	color: #868889;
}

/* elimina bordo tratteggiato attorno al link */
a:active,a:hover,a:focus {
	outline: none;
	color: #868889;
}

nav.navbar {
	height: 108px;
	background-repeat: x;
}

@media screen and (min-width: 480px) {
	ul.navbar-right {
		position: absolute;
		top: 28px;
		right: 80px;
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	text-transform: uppercase;
}

#logo {
	position: relative;
	left: 50px;
}

.header {
	text-transform: uppercase;
	padding: 9px 5px;
	padding-left: 10px;
}

.row {
	padding: 5px 0;
}

.column-left {
	padding-right: 25px;
}

.column-right {
	padding-left: 25px;
}

.section-colored,.colored {
	background-color: #EBECEC;
}

.section-colored a,.colored a {
	color: #6C6455;
}

a.accordion-toggle {
	width: 100%;
	display: block;
}

form label {
	line-height: 3;
	position: relative;
	top: -6px;
}

/* tabella */
table {
	border-collapse: separate;
}

.table thead th {
	background-color: #555555;
	color: white !important;
}

tbody td {
	background-color: #EBECEC;
}

tr td:first-child,tr th:first-child {
	border-top-left-radius: 4px;
}

tr td:last-child,tr th:last-child {
	border-top-right-radius: 4px;
}

table thead {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* pannelli */
.column-right .panel-group .panel {
	margin: 10px 0;
}

.panel-default>.panel-heading {
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.9) inset;
	background-color: #F5F5F5;
}

.panel-heading .accordion-toggle,.panel-default>.panel-heading,.table thead>tr>th
	{
	color: #777777;
	border-color: #DDDDDD;
}

.panel-title a,.panel-title a:hover {
	color: white;
	text-decoration: none;
}

.panel-title a:focus {
	font-weight: bold;
}

.panel-header .panel-heading:hover,.panel-header .panel-heading:focus {
	background-color: #F5F5F5;
}

.panel-heading:hover,.panel-heading:focus {
	background-color: #cccccc;
	box-shadow: 0 0 1px rgba(204, 204, 204, 1) inset;
}

.panel-title {
	font-size: 14px;
}

/* freccia pannelli */
.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
	float: right; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

/* Modal Dialog */
.modal-dialog {
	max-width: 90%;
	width: 690px;
}

.modal-body {
	padding: 0;
}

.modal-footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 0;
	padding: 10px 20px;
	text-align: right;
}

/* Carousel Home */
#myCarousel {
	height: 400px;
	margin: 0;
	padding: 0;
}

#myCarousel img {
	width: 100%;
}

.carousel-control .icon-prev,.carousel-control .icon-next {
	font-size: 60px;
	height: 60px;
	margin-left: -15px;
	margin-top: -38px;
	width: 30px;
}

.carousel-control.left,.carousel-control.right {
	background-image: none;
	background-repeat: none;
	opacity: 0.8;
}

.carousel-control:hover {
	opacity: 1;
	color: #ffffff;
}

.carousel-indicators {
	bottom: 5px;
}

/* Slideshow custom */
.cycle-slideshow img {
	padding: 15px;
	width: 640px;
	height: 480px;
	top: 0;
	left: 0
}

/* submenu */
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* sidebar */
.bs-sidenav {
	background-color: #F7F5FA;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-top: 25px;
	text-shadow: 0 1px 0 #FFFFFF;
}

/* footer */
footer {
	margin: 50px 0 10px 0;
}

footer li,footer li a,footer {
	color: #FFFFFF;
	list-style: none outside none;
}

/* menu smartphone fix */
@media screen and (max-width: 480px) {
	.navbar-collapse ul {
		background-color: black;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-collapse ul.navbar-right {
		position: relative;
		top: 0;
	}
	#myCarousel {
		height: auto;
		width: auto;
		margin: auto;
	}
	
}