RewriteEngine On
RewriteBase /alessi_salotti/

RewriteEngine on

# Regola con tre argomenti
# Da  [base_url]/controller/categoria/prodotto 
RewriteRule ^([^/]+)/([^/]+)/([^/]+).html$ index.php?controller=$1&category=$2&title=$3 [L]

# Regola con due argomenti
RewriteRule ^([^/]+)/([^/]+).html$ index.php?controller=$1&title=$2 [L]

#RewriteRule ^prodotti index.php?controller=prodotti

# Regola con un argomento
# Regola finale per tutti gli indirizzi
RewriteRule ^(.*).html$ index.php?controller=$1 [L]

