RewriteEngine On
RewriteBase /git/salotti/

RewriteEngine on

# Regola con tre argomenti
# Da  [base_url]/controller/categoria/prodotto 
RewriteRule ^([^/]+)/([^/]+)/([^/]+).html$ index.php?controller=$1&category=$2&title=$3 [L]

# Regola con due argomenti
RewriteRule ^([^/]+)/([^/]+).html$ index.php?controller=$1&title=$2 [L]

# Regola per categorie
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/$ index.php?controller=breadcrumb&type=$1&category=$2&subcategory=$3 [L]
RewriteRule ^([^/]+)/([^/]+)/$ index.php?controller=breadcrumb&type=$1&category=$2 [L]
RewriteRule ^([^/]+)/$ index.php?controller=breadcrumb&category=$1 [L]


# Regola con un argomento
# Regola finale per tutti gli indirizzi
RewriteRule ^(.*).html$ index.php?controller=$1 [L]

